<div class="user-details">
  <h1> Mes projets </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Comptétences..</li>
    </ul>
    <p>Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla</p>
    <a class="project-link" href="#">Voir plus</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Compétences..</li>
    </ul>
    <p>Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla, Bla bla bla</p>
    <a class="project-link" href="#">Voir plus</a>
  </div>
</div>
